<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact Us</title>
</head>
<style>
body {
    margin: 0;
    background: linear-gradient(to right, #013243,#19b5fe)
}

.details{
    margin-left: 10%;
    margin-right: 50%;
    color: white;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
</style>

<body>
    
    <marquee scrollamount="15" style="color: white;"> <h1>Contact Details</h1> </marquee>

    <div class="details"> 
        <h3>Suraj Puned</h3>
        
        <li>Mobile no. : 7022463343</li>
        <li>Email : surajpuned@gmail.com</li><br>

        <h3>Shreyas Babshet</h3>
        <li>Mobile no. : 7829552729</li>
        <li>Email : shreyasbabshet88@gmail.com</li>
        
    
    
    </div>
    
    
</body>
</html>